

.h11 {
    margin: 20px;
    width: 400px;
    height: 50px;
    padding: 20px;
    background-color: #07f;
    box-shadow: 7px 7px 2px #009;
    border-radius: 3px;
    position: absolute;
    z-index: 5;
    font-family: sans-serif;
}

.h11:hover{
    transition: background-color 200ms, box-shadow 200ms;
    background-color: #05f;
    box-shadow: 4px 4px 2px #007;
}
.h11:not(:hover) {
    background-color: #07f;
    transition: 200ms;
}

.h11 div {
    margin-top: -20px;
    display: inline-block;
    padding: 20px;
    height: 25px;
    background-color: #fff;
    color: #000;
    border-radius: 100px;
}

.h12{
    margin: 20px;
    width: 400px;
    height: 50px;
    padding: 20px;
    padding-top: 25px;
    background-color: #555;
    box-shadow: inset 7px 7px 2px #333;
    border-radius: 3px;
    position: absolute;
    z-index: 4;
    font-family: monospace;
}

.h12:hover {
    background-color: #777;
    box-shadow: inset 5px 5px 2px #444;
    transition: background-color 200ms, box-shadow 200ms;
}

.h12:not(:hover) {
    background-color: #555;
    transition: background-color 200ms, box-shadow 200ms;
}

#radio1on,#radio1off {
    display: none;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

#radio1on:checked ~ .h11 {
    z-index: 4;
    visibility: hidden;
}