*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h11 {
    margin: 20px;
    width: 300px;
    height: 50px;
    padding-top: 5px;
    background-color: #07f;
    box-shadow: 5px 5px 2px #009;
    border-radius: 3px;
    position: absolute;
    z-index: 5;
}

.h11:hover{
    transition: background-color 200ms, box-shadow 200ms;
    background-color: #05f;
    box-shadow: 3px 3px 2px #007;
}
.h11:not(:hover) {
    background-color: #07f;
    transition: 200ms;
}

.h12{
    margin: 20px;
    width: 300px;
    height: 50px;
    padding-top: 5px;
    background-color: #555;
    box-shadow: inset 5px 5px 2px #333;
    border-radius: 3px;
    position: absolute;
    z-index: 4;
}

#radio1on,#radio1off {
    display: none;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

#radio1on:checked ~ .h11 {
    z-index: 4;
    visibility: hidden;
}

#elsooldal {
    height: 100vh;
    background: #3A86FF;
}

/* masodik oldal */

#masodikoldal{
    position: relative;
    height: 100vh;
    background: #FFBE0B;
    font-family: sans-serif;
}

#masodikoldal .cim{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 20%);
    letter-spacing: 2px;
    height: 10vh;
    color: #fff;
}

#masodikoldal .alja{
    padding: 10px;
    position: relative;
    height: 90vh;
}

#masodikoldal img{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    z-index: 1;
}

#masodikoldal .card{
    position: relative;
    background: #EDB419;
    width: 70%;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 40%);
    z-index: 2;
}

#masodikoldal .card .leiras{
    background: #007;
}

#masodikoldal .card #masodikoldalgomb:checked + .leiras{
    background: #fff;
}