* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #272727;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffffff;
    border: 4px solid #272727;
}

/* navigacio */

#dropdown {
    position: fixed;
    width: 100%;
    background: #272727;
    z-index: 20;
}

nav {
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
    background: #272727;
    overflow: hidden;
    top: 60px;
    left: 0;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu a {
    text-decoration: none;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.3em;
    background: #313131;
    box-shadow: 10px 10px rgb(0, 0, 0, 0.4);
    border-radius: 5px;
    color: #fff;
    transition: 0.3s;
}

.menu li:nth-child(1) a:hover {
    background: #f80;
    transition: 0.3s;
}

.menu li:nth-child(2) a:hover {
    background: #3A86FF;
    transition: 0.3s;
}

.menu li:nth-child(3) a:hover {
    background: #FFBE0B;
    color: #272727;
}

.menu li:nth-child(4) a:hover {
    background: #FF006E;
}

.menu li:nth-child(5) a:hover {
    background: #8338EC;
}

.menu li:nth-child(6) a:hover {
    background: #FB5607;
}

.menu li:nth-child(7) a:hover {
    background: #3A86FF;
}

.menu li:nth-child(8) a:hover {
    background: #FFBE0B;
    color: #272727;
}

.menu li:nth-child(9) a:hover {
    background: #FF006E;
}

.menu li:nth-child(10) a:hover {
    background: #8338EC;
}

.menu li:nth-child(11) a:hover {
    background: #272727;
}

.menu a:hover {
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    letter-spacing: 5px;
}


nav ul {
    padding: 20px;
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-auto-rows: 18vh;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

nav ul li {
    list-style: none;
    position: relative;
    border-radius: 5px;
}

nav ul li:nth-child(1) {
    grid-row: 1 / 3;
}

nav ul li:nth-child(3) {
    grid-row: 2/4;
}

nav ul li:nth-child(5) {
    grid-column: 1/3;
}

nav ul li:nth-child(7) {
    grid-column: 2/3;
    grid-row: 5/7;
}

nav ul li:nth-child(9) {
    grid-column: 1/3;
}

.hamb {
    position: relative;
    cursor: pointer;
    float: left;
    width: 60px;
    height: 60px;
}

.hamb:hover .menuicon {
    animation: menueffect 1s;
}

.menuicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#menucheck {
    display: none;
}

.menucheck:checked~nav {
    max-height: 100vh;
}


@keyframes menueffect {
    0% {
        width: 80%;
    }

    40% {
        width: 50%;
    }

    75% {
        width: 100%;
    }

    100% {
        width: 80%;
    }
}

@media (max-width: 900px) {
    nav ul {
        grid-template-columns: calc(100% - 10px);
        grid-auto-rows: 15vh;
    }

    nav ul li:nth-child(1) {
        grid-row: 1 / 2;
    }

    nav ul li:nth-child(3) {
        grid-row: 2/3;
    }

    nav ul li:nth-child(5) {
        grid-column: 1/2;
    }

    nav ul li:nth-child(7) {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    nav ul li:nth-child(9) {
        grid-column: 1/2;
    }
}

/* scrolling */

#mainAttraction {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#mainAttraction>article {
    scroll-snap-align: center;
}


/*----------------*/
/* Nulladik oldal */
/*----------------*/


#nulladikoldal {
    height: 100vh;
    position: relative;
    background-color: #f80;
}


/*----------------*/
/* Nulladik oldal */
/*----------------*/


#nulladikoldal {
    height: 100vh;
    position: relative;
    background-color: #f80;
}

/* background */

#nulladikoldal #nulladikoldalhatter {
    position: absolute;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
}

#nulladikoldal #nulladikoldalhatter>div {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateZ(45deg);
    color: #742500cd;
    font-family: monospace;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 10px 10px 0 rgba(0, 0, 0, 0.20);
}

#nulladikoldal #nulladikoldalhatter #taghtml {
    left: 5%;
    top: 5%;
}

#nulladikoldal #nulladikoldalhatter #tagcsharp {
    left: 20%;
    top: 20%;
}

#nulladikoldal #nulladikoldalhatter #tagpython {
    left: 40%;
    top: 15%;
}

#nulladikoldal #nulladikoldalhatter #tagcpp {
    left: 60%;
    top: 3%;
}

#nulladikoldal #nulladikoldalhatter #tagmysql {
    left: 75%;
    top: 17%;
}

#nulladikoldal #nulladikoldalhatter #tagbts {
    left: 87%;
    top: 9%;
}

#nulladikoldal #nulladikoldalhatter #tagcss {
    left: 92%;
    top: 87%;
}

#nulladikoldal #nulladikoldalhatter #tagphp {
    left: 13%;
    top: 70%;
}

#nulladikoldal #nulladikoldalhatter #tagjs {
    left: 30%;
    top: 80%;
}

#nulladikoldal #nulladikoldalhatter #tagc {
    left: 55%;
    top: 75%;
}

#nulladikoldal #nulladikoldalhatter #tagjava {
    left: 74%;
    top: 69%;
}

@media (max-width: 850px) {
    #nulladikoldal #nulladikoldalhatter #tagcsharp {
        display: none;
    }


    #nulladikoldal #nulladikoldalhatter #tagpython {
        left: 25%;
        top: 15%;
    }

    #nulladikoldal #nulladikoldalhatter #tagcpp {
        left: 47%;
        top: 3%;
    }

    #nulladikoldal #nulladikoldalhatter #tagmysql {
        left: 67%;
        top: 17%;
    }

    #nulladikoldal #nulladikoldalhatter #tagbts {
        left: 80%;
        top: 9%;
    }


    #nulladikoldal #nulladikoldalhatter #tagphp {
        left: 10%;
        top: 70%;
    }

    #nulladikoldal #nulladikoldalhatter #tagjs {
        left: 25%;
        top: 84%;
    }

    #nulladikoldal #nulladikoldalhatter #tagc {
        left: 49%;
        top: 75%;
    }

    #nulladikoldal #nulladikoldalhatter #tagjava {
        left: 68%;
        top: 69%;
    }

    #nulladikoldal #nulladikoldalhatter #tagcss {
        left: 87%;
        top: 87%;
    }
}

@media (max-width: 550px) {
    #nulladikoldal #nulladikoldalhatter #tagcsharp {
        display: none;
    }


    #nulladikoldal #nulladikoldalhatter #tagpython {
        left: 25%;
        top: 15%;
    }

    #nulladikoldal #nulladikoldalhatter #tagcpp {
        display: none;
    }

    #nulladikoldal #nulladikoldalhatter #tagmysql {
        left: 80%;
        top: 9%;
    }

    #nulladikoldal #nulladikoldalhatter #tagbts {
        left: 50%;
        top: 9%;
    }


    #nulladikoldal #nulladikoldalhatter #tagphp {
        left: 10%;
        top: 70%;
    }

    #nulladikoldal #nulladikoldalhatter #tagjs {
        left: 25%;
        top: 84%;
    }

    #nulladikoldal #nulladikoldalhatter #tagc {
        display: none;
    }

    #nulladikoldal #nulladikoldalhatter #tagjava {
        left: 75%;
        top: 88%;
    }

    #nulladikoldal #nulladikoldalhatter #tagcss {
        left: 57%;
        top: 73%;
    }
}


/*------------*/
/* Első oldal */
/*------------*/


#elsooldal {
    /*Oldal hátterének beállításai*/
    height: 100vh;
    position: relative;
    background: #3A86FF;
    position: relative;
    /* kell a kép miatt különben elkóborol */
}

.cimek {
    /*Cím beállítsa az első, ötödik és hetedik oldalra*/
    text-transform: uppercase;
    padding-top: 80px;
    margin-bottom: -40px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);

}

#elsooldal img {
    /*Háttérben a kép beállítása*/
    position: absolute;
    top: 100%;
    left: 75%;
    transform: translate(-100%, -100%);
    z-index: 1;
}

h1 {
    position: relative;
    font-size: 20px;
    color: #fff;
    z-index: 2;
}

#gombcontainer {
    /*Nagy konténer beállítása amiben az összes gomb bentvan*/
    display: flex;
    justify-content: center;
}

.jobb {
    /*Section beállítása amiből kettő van és egy oszlop gombjai tartoznak benne*/
    float: left;
}

.gombcont {
    /*Kis konténer amibe két gomb tartozik bele (elülső és a mögötte lévő)*/
    position: relative;
    width: 500px;
    height: 150px;
    margin: 100px;
}

.h11,
.h21,
.h31,
.h41,
.h51,
.h61 {
    /*Elöl lévő (kék) gombok beállításai*/
    margin: 20px;
    width: 430px;
    height: 90px;
    padding: 20px;
    padding-top: 35px;
    background-color: #3470CE;
    box-shadow: 7px 7px 2px #009;
    border-radius: 3px;
    position: absolute;
    z-index: 5;
    font-family: sans-serif;
}

.h11:hover,
.h21:hover,
.h31:hover,
.h41:hover,
.h51:hover,
.h61:hover {
    /*Elöl lévő kék gombok hover beállításai*/
    transition: background-color 200ms, box-shadow 200ms;
    background-color: #05e;
    box-shadow: 4px 4px 2px #006;
}

.h11:not(:hover),
.h21:not(:hover),
.h31:not(:hover),
.h41:not(:hover),
.h51:not(:hover),
.h61:not(:hover) {
    /*Elöl lévő (kék) gombok hover beállításai, hogy visszafelé is legyen transition*/
    background-color: #3470CE;
    transition: 200ms;
}

.karika {
    /*Fehér karikának a beállításai ami az elöl lévő (kék) gombokon van*/
    margin-top: -40px;
    display: inline-block;
    padding: 18px;
    padding-bottom: 42px;
    height: 25px;
    background-color: #fff;
    color: #000;
    border-radius: 100px;
}

.h12,
.h22,
.h32,
.h42,
.h52,
.h62 {
    /*Hátsó (szürke) gombok beállításai*/
    margin: 20px;
    width: 430px;
    height: 90px;
    padding: 20px;
    padding-top: 35px;
    background-color: #525252;
    box-shadow: inset 7px 7px 2px #333;
    border-radius: 3px;
    position: absolute;
    z-index: 4;
    font-family: monospace;
}

.h12:hover,
.h22:hover,
.h32:hover,
.h42:hover,
.h52:hover,
.h62:hover {
    /*Hátul lévő (szürke) gombok hover beállításai*/
    background-color: #777;
    box-shadow: inset 5px 5px 2px #444;
    transition: background-color 200ms, box-shadow 200ms;
}

.h12:not(:hover),
.h22:not(:hover),
.h32:not(:hover),
.h42:not(:hover),
.h52:not(:hover),
.h62:not(:hover) {
    /*Hátul lévő (szürke) gombok hover beállításai, hogy visszafelé is legyen transition*/
    background-color: #525252;
    transition: background-color 200ms, box-shadow 200ms;
}

#radio1on,
#radio1off,
#radio2on,
#radio2off,
#radio3on,
#radio3off,
#radio4on,
#radio4off,
#radio5on,
#radio5off,
#radio6on,
#radio6off {
    /*Rádió gombok láthatóságának kikapcsolása*/
    display: none;
}

#radio1on:checked~.h11,
#radio2on:checked~.h21,
#radio3on:checked~.h31,
#radio4on:checked~.h41,
#radio5on:checked~.h51,
#radio6on:checked~.h61 {
    /*Ha az elöl lévő (kék) gombot megnyomják (radio) akkor tűnjön el, így látható lesz a hátsó (szürke)*/
    z-index: 4;
    visibility: hidden;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 16px;
    }

    .h11,
    .h21,
    .h31,
    .h41,
    .h51,
    .h61 {
        /*Telefonra az elöl lévő gombok beállításai (kék)*/
        margin: 0;
        width: 93%;
        height: 100px;
        padding: 20px;
        padding-top: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .h12,
    .h22,
    .h32,
    .h42,
    .h52,
    .h62 {
        /*Telefonra a hátul lévő gombok beállításai (szürke)*/
        margin: 0;
        width: 93%;
        height: 100px;
        padding: 20px;
        padding-top: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #gombcontainer {
        /*Nagy konténer beállítása telóra amiben benne van az összes gomb*/
        display: unset;
    }

    .jobb {
        /*Telefonra a gomb oszlopok beállítása*/
        float: none;
    }

    .gombcont {
        /*A kis konténer beállítása telefonra amiben csak egy elülső és a mögötte lévő gomb van bent*/
        margin: 10px 0;
        width: 90%;
        position: relative;
    }

    #telomargin {
        /*A .gombcont konténer rácsúszna a címre telefonos nézetben*/
        margin-top: 80px;
    }

    #elsooldal {
        /*Oldal hátter méret állítás telefonra*/
        height: 145vh;
    }

    .karika {
        /*Telefonra az elülső (kék) gombban levő fehér karika beállítása*/
        margin-top: -40px;
        display: inline-block;
        padding: 18px;
        padding-bottom: 38px;
        height: 25px;
    }

    #elsooldal img {
        /*Telefonon a háttér beállítása*/
        top: 100%;
    }
}

@media (max-width: 380px) {
    #elsooldal {
        /*Háttér beállítása kisebb telefonra*/
        height: 175vh;
    }

    #elsooldal img {
        /*Háttérben a kép beállítása kisebb telefonra*/
        position: absolute;
        top: 175%;
        left: 75%;
        transform: translate(-100%, -100%);
        z-index: 1;
    }
}



/*---------------*/
/* Második oldal */
/*---------------*/

#masodikoldal {
    position: relative;
    height: 100vh;
    background: #FFBE0B;
    font-family: sans-serif;
}

/* oldal cim */

#masodikoldal .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    letter-spacing: 2px;
    height: 30vh;
    color: #272727;
}

/* oldal kartyat tartalmazo resz */

#masodikoldal .alja {
    position: relative;
    height: 70vh;
}

/* oldal hatterkepe */

#masodikoldal img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* gomb funtion */

#masodikoldal label {
    cursor: pointer;
}

#masodikoldal #gombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}


#masodikoldal .card .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}


#gombocska:checked~#masodikoldalleiras {
    visibility: hidden;
}

#gombocska:checked~#masodikoldalkod {
    visibility: visible;
}


/* leiras unchecked */

#masodikoldal .card {
    /* kartya helye, nagysaga */
    position: relative;
    background: #EDB419;
    width: 70%;
    height: 65vh;
    border-radius: 10px;
    z-index: 2;
}

#masodikoldal .card .tartalom #masodikoldalleiras {
    /* kartya beallitasok */
    position: absolute;
    background: #EDB419;
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#masodikoldal .card .tartalom .leiras {
    /* fej, lablec, lerias tartalmazo resz */
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #272727;
}

#masodikoldal .card .tartalom .leiras .fejlec,
#masodikoldal .card .tartalom .leiras .lablec {
    /* fej, lablec */
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#masodikoldal .card .tartalom .leiras .fejlec {
    border-bottom: 3px solid #272727;

}

#masodikoldal .card .tartalom .leiras .lablec {
    border-top: 3px solid #272727;
    justify-content: right;
}

#masodikoldal .card .tartalom .leiras .kozep {
    /* leiras */
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* leiras unchecked srollbar */

#masodikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar {
    width: 15px;
}

#masodikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar-track {
    background: #EDB419;
}

#masodikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #58513e;
    border: 4px solid #EDB419;
}


/* kod checked */

#masodikoldal .card .tartalom #masodikoldalkod {
    /* kartya */
    position: absolute;
    background: #58513e;
    border-radius: 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

#masodikoldal .card .tartalom .kod {
    /* fej, lablec, leiras tartalmazo resz */
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#masodikoldal .card .tartalom .kod .fejlec,
#masodikoldal .card .tartalom .kod .lablec {
    /* fej, lablec */
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#masodikoldal .card .tartalom .kod .fejlec {
    border-bottom: 3px solid #fff;

}

#masodikoldal .card .tartalom .kod .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#masodikoldal .card .tartalom .kod .kozep {
    /* leiras */
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* kod cheked scrollbar */

#masodikoldal .card .tartalom .kod .kozep::-webkit-scrollbar {
    width: 15px;
}

#masodikoldal .card .tartalom .kod .kozep::-webkit-scrollbar-track {
    background: #58513e;
}

#masodikoldal .card .tartalom .kod .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #EDB419;
    border: 4px solid #58513e;
}

/* mobil */

@media (max-width: 560px) {
    #masodikoldal .card {
        width: calc(100% - 10px);
    }
}



/*----------------*/
/* Harmadik oldal */
/*----------------*/


#harmadikoldal {
    position: relative;
    height: 100vh;
    background: #FF006E;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* oldal cim */

#harmadikoldal .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    height: 30vh;
    color: #fff;
}

#harmadikoldal .cim span:nth-child(1) {
    position: relative;
    right: 10px;
    width: 40px;
    height: 85px;
}

#harmadikoldal .cim span:nth-child(1) img {
    position: absolute;
    bottom: 0;
}

#harmadikoldal .cim span:nth-child(2) {
    position: relative;
    left: 10px;
    width: 40px;
    height: 70px;
}

#harmadikoldal .cim span:nth-child(2) img {
    position: absolute;
    top: 0;
}

/* kartyat tartalmazo resz */

#harmadikoldal .alja {
    padding: 10px;
    position: relative;
    height: 70vh;
}

/* oldal hatterkep */

#harmadikoldal .alja img {
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scaleX(-1);
}


/* gomb function */

#harmadikoldal label {
    cursor: pointer;
}

#harmadikoldal #harmadikgombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}


#harmadikoldal .card .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}

#harmadikgombocska:checked~#harmadikoldalleiras {
    visibility: hidden;
}

#harmadikgombocska:checked~#harmadikoldalkod {
    visibility: visible;
}


/* leiras unchecked */

#harmadikoldal .card {
    /* kartya helye es nagysaga */
    position: absolute;
    right: 0;
    top: 0;
    background: #E8126E;
    width: 60%;
    height: 45vh;
    border-radius: 10px 0 0 10px;
    z-index: 2;
}

#harmadikoldal .card .tartalom #harmadikoldalleiras {
    /* kartya beallitasok */
    position: absolute;
    background: #E8126E;
    border-radius: 10px 0 0 10px;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#harmadikoldal .card .tartalom .leiras {
    /* fej, lablec, leiras tartalmazo resz */
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#harmadikoldal .card .tartalom .leiras .fejlec,
#harmadikoldal .card .tartalom .leiras .lablec {
    /* fej, lablec */
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#harmadikoldal .card .tartalom .leiras .fejlec {
    border-bottom: 3px solid #fff;

}

#harmadikoldal .card .tartalom .leiras .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#harmadikoldal .card .tartalom .leiras .kozep {
    /* leiras */
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* leiras unchecked scrollbar */

#harmadikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar {
    width: 15px;
}

#harmadikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar-track {
    background: #E8126E;
}

#harmadikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #58513e;
    border: 4px solid #E8126E;
}

/* kod checked */


#harmadikoldal .card .tartalom #harmadikoldalkod {
    /* kartya */
    position: absolute;
    background: #58513e;
    border-radius: 10px 0 0 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

#harmadikoldal .card .tartalom .kod {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#harmadikoldal .card .tartalom .kod .fejlec,
#harmadikoldal .card .tartalom .kod .lablec {
    /* fej, lablec */
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#harmadikoldal .card .tartalom .kod .fejlec {
    border-bottom: 3px solid #fff;

}

#harmadikoldal .card .tartalom .kod .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#harmadikoldal .card .tartalom .kod .kozep {
    /* leiras */
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* kod checked scrollbar */

#harmadikoldal .card .tartalom .kod .kozep::-webkit-scrollbar {
    width: 15px;
}

#harmadikoldal .card .tartalom .kod .kozep::-webkit-scrollbar-track {
    background: #58513e;
}

#harmadikoldal .card .tartalom .kod .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #E8126E;
    border: 4px solid #58513e;
}

/* mobil verzio */

@media (max-width: 560px) {
    #harmadikoldal .card {
        width: calc(100% - 10px);
        height: 50vh;
    }
}



/*----------------*/
/* Negyedik oldal */
/*---------------*/


#negyedikoldal {
    position: relative;
    height: 100vh;
    background: #8338EC;
    font-family: sans-serif;
}

/* oldal cim */

#negyedikoldal .cim {
    /* cim */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    height: 30vh;
    color: #fff;
}

/* oldal kartyakat tartalmazo resz */

#negyedikoldal .alja {
    /* kartyakat tartalmazó resz */
    padding: 10px;
    position: relative;
    height: 70vh;
}

/* oldal hatterkepe */

#negyedikoldal img {
    /* oldal hatterkep */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* gomb function */

#negyedikoldal label {
    cursor: pointer;
}

#negyedikoldal .cardem #negyedikoldalgombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}


#negyedikoldal .cardem .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}


#negyedikoldalgombocska:checked~#negyedikoldalleiras {
    visibility: hidden;
}

#negyedikoldalgombocska:checked~#negyedikoldalkod {
    visibility: visible;
}

/* em kartya */

#negyedikoldal .cardem {
    position: absolute;
    left: 0;
    bottom: 20px;
    background: #6B25CE;
    width: 45%;
    height: 50vh;
    border-radius: 0 10px 10px 0;
    z-index: 2;
}

/* em unchecked */

#negyedikoldal .cardem .tartalom #negyedikoldalleiras {
    position: absolute;
    background: #6B25CE;
    border-radius: 0 10px 10px 0;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.4);
    border: 1px solid #272727;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#negyedikoldal .cardem .tartalom .leiras {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#negyedikoldal .cardem .tartalom .leiras .fejlec,
#negyedikoldal .cardem .tartalom .leiras .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#negyedikoldal .cardem .tartalom .leiras .fejlec {
    border-bottom: 3px solid #fff;

}

#negyedikoldal .cardem .tartalom .leiras .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#negyedikoldal .cardem .tartalom .leiras .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* em unchecked scrollbar */

#negyedikoldal .cardem .tartalom .leiras .kozep::-webkit-scrollbar {
    width: 15px;
}

#negyedikoldal .cardem .tartalom .leiras .kozep::-webkit-scrollbar-track {
    background: #6B25CE;
}

#negyedikoldal .cardem .tartalom .leiras .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #58513e;
    border: 4px solid #6B25CE;
}

/* em checked */

#negyedikoldal .cardem .tartalom #negyedikoldalkod {
    position: absolute;
    background: #58513e;
    border-radius: 0 10px 10px 0;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

#negyedikoldal .cardem .tartalom .kod {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#negyedikoldal .cardem .tartalom .kod .fejlec,
#negyedikoldal .cardem .tartalom .kod .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#negyedikoldal .cardem .tartalom .kod .fejlec {
    border-bottom: 3px solid #fff;

}

#negyedikoldal .cardem .tartalom .kod .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#negyedikoldal .cardem .tartalom .kod .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* em checked scrollbar */

#negyedikoldal .cardem .tartalom .kod .kozep::-webkit-scrollbar {
    width: 15px;
}

#negyedikoldal .cardem .tartalom .kod .kozep::-webkit-scrollbar-track {
    background: #58513e;
}

#negyedikoldal .cardem .tartalom .kod .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #6B25CE;
    border: 4px solid #58513e;
}

/* gomb function */

#negyedikoldal label {
    cursor: pointer;
}


#negyedikoldal .cardstrong #negyedikoldalgombocskaketto {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}


#negyedikoldal .cardstrong .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}


#negyedikoldalgombocskaketto:checked~#negyedikoldalleiras {
    visibility: hidden;
}

#negyedikoldalgombocskaketto:checked~#negyedikoldalkod {
    visibility: visible;
}

/* strong kartya */

#negyedikoldal .cardstrong {
    position: absolute;
    top: 0;
    right: 0;
    background: #6B25CE;
    width: 45%;
    height: 35vh;
    border-radius: 10px;
    z-index: 2;
}

/* strong unchecked */


#negyedikoldal .cardstrong .tartalom #negyedikoldalleiras {
    position: absolute;
    background: #6B25CE;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 10px 0 rgb(0, 0, 0, 0.4);
    border: 1px solid #272727;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#negyedikoldal .cardstrong .tartalom .leiras {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#negyedikoldal .cardstrong .tartalom .leiras .fejlec,
#negyedikoldal .cardstrong .tartalom .leiras .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#negyedikoldal .cardstrong .tartalom .leiras .fejlec {
    border-bottom: 3px solid #fff;

}

#negyedikoldal .cardstrong .tartalom .leiras .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#negyedikoldal .cardstrong .tartalom .leiras .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}


#negyedikoldal .cardstrong .tartalom .leiras .kozep::-webkit-scrollbar {
    width: 15px;
}

#negyedikoldal .cardstrong .tartalom .leiras .kozep::-webkit-scrollbar-track {
    background: #6B25CE;
}

#negyedikoldal .cardstrong .tartalom .leiras .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #58513e;
    border: 4px solid #6B25CE;
}

/* strong checked */

#negyedikoldal .cardstrong .tartalom #negyedikoldalkod {
    position: absolute;
    background: #58513e;
    border-radius: 10px 0 0 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

#negyedikoldal .cardstrong .tartalom .kod {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#negyedikoldal .cardstrong .tartalom .kod .fejlec,
#negyedikoldal .cardstrong .tartalom .kod .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#negyedikoldal .cardstrong .tartalom .kod .fejlec {
    border-bottom: 3px solid #fff;

}

#negyedikoldal .cardstrong .tartalom .kod .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#negyedikoldal .cardstrong .tartalom .kod .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* strong scrollbar */

#negyedikoldal .cardstrong .tartalom .kod .kozep::-webkit-scrollbar {
    width: 15px;
}

#negyedikoldal .cardstrong .tartalom .kod .kozep::-webkit-scrollbar-track {
    background: #58513e;
}

#negyedikoldal .cardstrong .tartalom .kod .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #6B25CE;
    border: 4px solid #58513e;
}

/* mobil verzio */

@media (max-width: 700px) {

    /* em   strong kartyak */

    #negyedikoldal .cardem {
        width: calc(100% - 10px);
        height: calc(50% - 30px);
    }

    #negyedikoldal .cardstrong {
        width: calc(100% - 10px);
        height: calc(50% - 10px);
    }

    /* strong checked */

    #negyedikoldal .cardstrong .tartalom #negyedikoldalkod {
        padding: 15px;
    }

    #negyedikoldal .cardstrong .tartalom .kod .fejlec,
    #negyedikoldal .cardstrong .tartalom .kod .lablec {
        font-size: 1.6em;
        font-weight: bold;
    }

    #negyedikoldal .cardstrong .tartalom .kod .fejlec {
        border-bottom: 2px solid #fff;

    }

    #negyedikoldal .cardstrong .tartalom .kod .lablec {
        border-top: 2px solid #fff;
    }

    #negyedikoldal .cardstrong .tartalom .kod .kozep {
        margin: 5px 0;
        font-size: 1.1em;
    }

    /* strrong check */

    #negyedikoldal .cardstrong .tartalom #negyedikoldalleiras {
        padding: 15px;
    }


    #negyedikoldal .cardstrong .tartalom .leiras .fejlec,
    #negyedikoldal .cardstrong .tartalom .leiras .lablec {
        font-size: 1.6em;
    }

    #negyedikoldal .cardstrong .tartalom .leiras .fejlec {
        border-bottom: 2px solid #fff;

    }

    #negyedikoldal .cardstrong .tartalom .leiras .lablec {
        border-top: 2px solid #fff;
    }

    #negyedikoldal .cardstrong .tartalom .leiras .kozep {
        margin: 5px 0;
        font-size: 1.1em;
    }

    /* em checked */

    #negyedikoldal .cardem .tartalom #negyedikoldalkod {
        padding: 15px;
    }

    #negyedikoldal .cardem .tartalom .kod .fejlec,
    #negyedikoldal .cardem .tartalom .kod .lablec {
        font-size: 1.6em;
        font-weight: bold;
    }

    #negyedikoldal .cardem .tartalom .kod .fejlec {
        border-bottom: 2px solid #fff;

    }

    #negyedikoldal .cardem .tartalom .kod .lablec {
        border-top: 2px solid #fff;
    }

    #negyedikoldal .cardem .tartalom .kod .kozep {
        margin: 5px 0;
        font-size: 1.1em;
    }

    /* em unchecked */

    #negyedikoldal .cardem .tartalom #negyedikoldalleiras {
        padding: 15px;
    }


    #negyedikoldal .cardem .tartalom .leiras .fejlec,
    #negyedikoldal .cardem .tartalom .leiras .lablec {
        font-size: 1.6em;
    }

    #negyedikoldal .cardem .tartalom .leiras .fejlec {
        border-bottom: 2px solid #fff;

    }

    #negyedikoldal .cardem .tartalom .leiras .lablec {
        border-top: 2px solid #fff;
    }

    #negyedikoldal .cardem .tartalom .leiras .kozep {
        margin: 5px 0;
        font-size: 1.1em;
    }

}



/*--------------*/
/* Ötödik oldal */
/*--------------*/


#otodikoldal {
    /*Article háttér és méret beállítások*/
    height: 100vh;
    position: relative;
    background: #FB5607;
}

#otodikoldal .cimek {
    /*Cím beállítás hozzáadása csak erre az oldalra (eredeti beállítások az első oldalon!)*/
    top: 20px;
}

#otodikoldal #jokerkiemelo {
    /*Háttérben a kiemelő kép beállítása*/
    position: absolute;
    top: 5%;
    right: 80%;
    z-index: 1;
}

#otodikoldal #jokerkartya {
    /*Háttérben a joker kártya beállítása*/
    position: absolute;
    top: 95%;
    transform: translate(0, -100%);
    right: 13%;
    z-index: 1;
}

.gombjoker {
    /*Div beállítása amibe mind a két joker gomb bent van*/
    position: relative;
    width: 70%;
    height: auto;
    margin-top: 100px;
}

#radiojon,
#radiojoff {
    /*Rádió gombok eltüntetése*/
    display: none;
}

#j1 {
    /*Elülső (narancs) gomb beállításai*/
    position: absolute;
    z-index: 5;
    width: 90%;
    height: 400px;
    margin: 10px;
    margin-top: 60px;
    padding: 20px;
    background-color: #DD4F0B;
    box-shadow: 7px 7px 3px #620;
    border-radius: 10px;
    font-family: sans-serif;
    border: 1px solid #000;
    cursor: pointer;
}

#j2 {
    /*Hátsó (szürke) gomb beállításai*/
    position: absolute;
    z-index: 4;
    width: 90%;
    height: 400px;
    margin: 10px;
    margin-top: 60px;
    padding: 20px;
    background-color: #525252;
    box-shadow: inset 7px 7px 3px #333;
    border-radius: 10px;
    font-family: monospace;
    cursor: pointer;
}

#otodikoldal h2 {
    font-size: 35px;
    color: #fff;
    padding: 10px;
}

#otodikoldal p {
    color: #fff;
    width: 65%;
    font-size: 20px;
}

#spanvonal1 {
    /*A felső <span> szöveg alatt lévő csik beállításai (ez egy div)*/
    border-bottom: 2px solid #fff;
    width: 50%;
    margin-bottom: 20px;
}

#spanvonal2 {
    /*Az alsó </span> szöveg alatt lévő csik beállításai (ez egy div)*/
    border-top: 2px solid #fff;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

#spanmargin {
    /*Spanvonal1,2 benne van egy divben ez az és ez csak azért kellet, hogy margin lehessen beállítani.*/
    margin-left: 30px;
}

#radiojon:checked~#j1 {
    /*Ha az elülső (narancs) gombot (rádió) benyomják akkor tűnjön el és legyen látható a hátsó (szürke) gomb. */
    z-index: 4;
    visibility: hidden;
}

@media (max-width: 1050px) {

    #j1,
    #j2 {
        /*A két gomb szélességének beállítása*/
        width: 110%;
    }

    #otodikoldal #jokerkartya {
        /*Háttérben a joker kártya beállítsai*/
        width: 50%;
        left: 10%;
    }

    #otodikoldal #jokerkiemelo {
        /*Háttérben a kiemelő beállítása*/
        top: 12%;
    }
}

@media (max-width: 850px) {

    #j1,
    #j2 {
        /*Két gomb beállítása telefonra*/
        height: 700px;
    }

    #otodikoldal {
        /*Oldal hátterének magasságának növelése telefonra*/
        height: 130vh;
    }

    @media (max-width: 365px) {

        #j1,
        #j2 {
            /*Két gomb beállítása kisebb telefonra*/
            height: 820px;
        }

        #otodikoldal {
            /*Oldal hátterének magasságának növelése kisebb telefonra*/
            height: 170vh;
        }

        #otodikoldal #jokerkiemelo {
            /*Háttérben a kiemelő beállítsa kisebb telefonra*/
            top: 18%;
        }
    }



    /* scrolling */

    #mainAttraction {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: none;
    }

    #mainAttraction>article {
        scroll-snap-align: none;
    }

}



/*---------------*/
/* Hatodik oldal */
/*---------------*/


#hatodikoldal {
    position: relative;
    height: 100vh;
    background: #3A86FF;
    font-family: sans-serif;
    overflow-x: hidden;
}

#hatodikoldal .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 2px;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    height: 30vh;
    color: #fff;
}

#hatodikoldal .card {
    position: relative;
    background: #3470CE;
    width: 70%;
    height: 40vh;
    border-radius: 10px;
    z-index: 2;
}

#hatodikoldal #hatodikgombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}

#hatodikoldal .alja {
    position: relative;
    height: 70vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

#hatodikoldal img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#hatodikoldal .card .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}

#hatodikgombocska:checked~#hatodikoldalleiras {
    visibility: hidden;
}

#hatodikgombocska:checked~#hatodikoldalkod {
    visibility: visible;
}

#hatodikoldal .card .tartalom .leiras .fejlec,
#hatodikoldal .card .tartalom .leiras .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#hatodikoldal .card .tartalom .kod {
    /* fej, lablec, leiras tartalmazo resz */
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#hatodikoldal .card .tartalom #hatodikoldalkod .kod .fejlec,
#hatodikoldal .card .tartalom #hatodikoldalkod .kod .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

#hatodikoldal .card .tartalom #hatodikoldalkod .kod .fejlec {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}

#hatodikoldal .card .tartalom #hatodikoldalkod .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
    color: #fff;
}

#hatodikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar {
    width: 15px;
}

#hatodikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar-track {
    background: #3470CE;
}

#hatodikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #58513e;
    border: 4px solid #3470CE;
}

#hatodikoldal .card .tartalom #hatodikoldalkod .kod .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#hatodikoldal .card .tartalom #hatodikoldalleiras {
    position: absolute;
    background: #3470CE;
    border-radius: 10px 0 0 10px;
    border: 1px solid #272727;
    box-shadow: 0 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#hatodikoldal .card .tartalom .leiras {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#hatodikoldal .card .tartalom .leiras .fejlec {
    border-bottom: 3px solid #fff;

}

#hatodikoldal .card .tartalom .leiras .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#hatodikoldal .card .tartalom .leiras .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

#hatodikoldal .card .tartalom #hatodikoldal .kod .kozep {
    margin: 3px 0;
    font-size: 1.2em;
    overflow-y: auto;
    color: #fff;
}

#hatodikoldal .card .tartalom .kod .kozep::-webkit-scrollbar {
    width: 15px;
}

#hatodikoldal .card .tartalom .kod .kozep::-webkit-scrollbar-track {
    background: #58513e;
}

#hatodikoldal .card .tartalom .kod .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #3470CE;
    border: 4px solid #58513e;
}


#hatodikoldal .card .tartalom #hatodikoldalkod {
    position: absolute;
    background: #58513e;
    border-radius: 10px 0 0 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
    color: #fff;
}

#hatodikoldal label {
    cursor: pointer;
}



/*---------------*/
/* Hetedik oldal */
/*---------------*/


#hetedikoldal {
    /*Article háttér és méret*/
    height: 100vh;
    position: relative;
    background: #FFBE0B;
}

#hetedikoldal img {
    /*Háttérben a kép beállítása*/
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
    right: 5%;
    z-index: 1;
}

#hetedikoldal .cimek {
    /*ID oldalon fekete legyen a cím*/
    color: #272727;
}

.gombid {
    /*Div beállítása amiben a két gomb van*/
    position: relative;
    width: 70%;
    height: auto;
    margin-top: 100px;
}

#radioidon,
#radioidoff {
    /*Radio input láthatóságának beállítása*/
    display: none;
}

#id1 {
    /*Külső sárga gomb beállítása*/
    margin: 10px;
    width: 90%;
    height: 400px;
    padding: 20px;
    background-color: #EDB419;
    box-shadow: 7px 7px 3px #e80;
    border-radius: 10px;
    position: absolute;
    z-index: 5;
    font-family: sans-serif;
    border: 1px solid #000;
    cursor: pointer;
}

#id2 {
    /*Belső szürke gomb beállítása*/
    margin: 10px;
    width: 90%;
    height: 400px;
    padding: 20px;
    background-color: #525252;
    box-shadow: inset 7px 7px 3px #333;
    border-radius: 10px;
    position: absolute;
    z-index: 4;
    font-family: monospace;
    cursor: pointer;
}

#hetedikoldal #id1 h2 {
    /*Külső sárga gomb cím beállítás (külső szöveg)*/
    font-size: 35px;
    color: #272727;
    padding: 10px;
}

#hetedikoldal #id2 h2 {
    /*Belső szürke gomb cím beállítás*/
    font-size: 35px;
    padding: 10px;
}

#hetedikoldal p {
    width: 65%;
    font-size: 20px;
}

#hetedikoldal #id2 {
    /*Belső szürke gomb szövegszín*/
    color: #fff;
}

#hetedikoldal #id1 {
    /*Külső sárga gomb szövegszín*/
    color: #272727;
}

#hetedikoldal #id1 #spanvonal1 {
    /*Eredeti beállítás ötödik oldalon*/
    border-bottom: 2px solid #272727;

}

#hetedikoldal #id1 #spanvonal2 {
    /*Eredeti beállítás ötödik oldalon*/
    border-top: 2px solid #272727;
}

#radioidon:checked~#id1 {
    /*Ha a külső (sárga) gombot megnyomja (radio gombot) akkor tűnjön el a sárga gomb (a hátsót lehessen látni)*/
    visibility: hidden;
}

@media (max-width: 850px) {

    #id1,
    #id2 {
        /*Telefonon a gombok méretének beállítása*/
        height: 500px;
        width: 110%;
    }
}

@media (max-width: 380px) {

    #id1,
    #id2 {
        /*Kisebb telefonon is jók legyen a gombok méretei*/
        height: 600px;
    }

    #hetedikoldal {
        /*Article hossz*/
        height: 130vh;
    }
}



/*-----------------*/
/* Nyolcadik oldal */
/*-----------------*/


#nyolcadikoldal {
    position: relative;
    height: 100vh;
    background: #FF006E;
    font-family: sans-serif;
}

/* oldal cim */

#nyolcadikoldal .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    letter-spacing: 2px;
    height: 30vh;
    color: #fff;
}

/* oldal kartyat tartalmazo resz */

#nyolcadikoldal .alja {
    padding: 10px;
    position: relative;
    height: 70vh;
}

/* oldal hatterkepe */

#nyolcadikoldal img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* gomb funtion */

#nyolcadikoldal label {
    cursor: pointer;
}

#nyolcadikoldal #nyolcadikgombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}


#nyolcadikoldal .card .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}


#nyolcadikgombocska:checked~#nyolcadikoldalleiras {
    visibility: hidden;
}

#nyolcadikgombocska:checked~#nyolcadikoldalkod {
    visibility: visible;
}


/* leiras unchecked */

#nyolcadikoldal .card {
    /* kartya helye, nagysaga */
    position: relative;
    background: #E8126E;
    width: 70%;
    height: 65vh;
    border-radius: 10px;
    z-index: 2;
    border: solid 1px #000;
}

#nyolcadikoldal .card .tartalom #nyolcadikoldalleiras {
    /* kartya beallitasok */
    position: absolute;
    background: #E8126E;
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#nyolcadikoldal .card .tartalom .leiras {
    /* fej, lablec, lerias tartalmazo resz */
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#nyolcadikoldal .card .tartalom .leiras .fejlec,
#nyolcadikoldal .card .tartalom .leiras .lablec {
    /* fej, lablec */
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#nyolcadikoldal .card .tartalom .leiras .fejlec {
    border-bottom: 3px solid #fff;

}

#nyolcadikoldal .card .tartalom .leiras .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#nyolcadikoldal .card .tartalom .leiras .kozep {
    /* leiras */
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* leiras unchecked srollbar */

#nyolcadikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar {
    width: 15px;
}

#nyolcadikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar-track {
    background: #EDB419;
}

#nyolcadikoldal .card .tartalom .leiras .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #58513e;
    border: 4px solid #EDB419;
}


/* kod checked */

#nyolcadikoldal .card .tartalom #nyolcadikoldalkod {
    /* kartya */
    position: absolute;
    background: #58513e;
    border-radius: 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

#nyolcadikoldal .card .tartalom .kod {
    /* fej, lablec, leiras tartalmazo resz */
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#nyolcadikoldal .card .tartalom .kod .fejlec,
#nyolcadikoldal .card .tartalom .kod .lablec {
    /* fej, lablec */
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#nyolcadikoldal .card .tartalom .kod .fejlec {
    border-bottom: 3px solid #fff;

}

#nyolcadikoldal .card .tartalom .kod .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#nyolcadikoldal .card .tartalom .kod .kozep {
    /* leiras */
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* kod cheked scrollbar */

#nyolcadikoldal .card .tartalom .kod .kozep::-webkit-scrollbar {
    width: 15px;
}

#nyolcadikoldal .card .tartalom .kod .kozep::-webkit-scrollbar-track {
    background: #58513e;
}

#nyolcadikoldal .card .tartalom .kod .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #EDB419;
    border: 4px solid #58513e;
}

/* mobil */

@media (max-width: 560px) {
    #nyolcadikoldal .card {
        width: calc(100% - 10px);
    }
}



/*------------------*/
/* Kilencedik oldal */
/*------------------*/


#kilencedikoldal {
    position: relative;
    height: 100vh;
    background: #8338EC;
    font-family: sans-serif;
}

/* oldal cim */

#kilencedikoldal .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    letter-spacing: 2px;
    height: 30vh;
    color: #fff;
}

#kilencedikoldal .alja {
    height: 70vh;
    position: relative;
}

#kilencedikoldal .cardem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    height: 90%;
}

#kilencedikoldal .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
}

#kilencedikoldal video {
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 10px;
}

@media (max-width: 700px) {

    #kilencedikoldal .cim {
        font-size: 1.8em;
    }

    #kilencedikoldal .cardem {
        width: calc(100% - 20px);
        height: 90%;
    }
}

/*-----------------*/
/* Készítők  oldal */
/*-----------------*/


#keszitok {
    position: relative;
    height: 100vh;
    background: #FB5607;
    font-family: sans-serif;
}

/* oldal cim */

#keszitok .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    letter-spacing: 2px;
    height: 30vh;
    color: #fff;
}

/* oldal kartyat tartalmazo resz */

#keszitok .alja {
    padding: 10px;
    position: relative;
    height: 70vh;
}

/* oldal hatterkepe */

#keszitok img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* gomb funtion */

#keszitok label {
    cursor: pointer;
}

#keszitok #keszitokgombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}


#keszitok .card .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}


#keszitokgombocska:checked~#keszitokoldalleiras {
    visibility: hidden;
}

#keszitokgombocska:checked~#keszitonevek {
    visibility: visible;
}


/* leiras unchecked */

#keszitok .card {
    /* kartya helye, nagysaga */
    left: 30%;
    position: relative;
    background: #DD4F0B;
    width: 40%;
    height: 40vh;
    border-radius: 10px;
    z-index: 2;
    border: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#keszitok .card .tartalom #keszitokoldalleiras {
    /* kartya beallitasok */
    text-align: center;
    position: absolute;
    background: #DD4F0B;
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keszitok .card .tartalom .leiras {
    /* fej, lablec, lerias tartalmazo resz */
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kszitok .card .tartalom .leiras .fejlec,
#keszitok .card .tartalom .leiras .lablec {
    /* fej, lablec */
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#keszitok .card .tartalom .leiras .kozep {
    /* leiras */
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

/* leiras unchecked srollbar */

#keszitok .card .tartalom .leiras .kozep::-webkit-scrollbar {
    width: 15px;
}

#ksezitok .card .tartalom .leiras .kozep::-webkit-scrollbar-track {
    background: #EDB419;
}

#keszitok .card .tartalom .leiras .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #58513e;
    border: 4px solid #EDB419;
}


/* kod checked */

#keszitok .card .tartalom #keszitoknevek {
    /* kartya */
    position: absolute;
    background: #58513e;
    border-radius: 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

#keszitok .card .tartalom .keszitonevek {
    /* fej, lablec, leiras tartalmazo resz */
    text-align: center;
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keszitok .card .tartalom .keszitonevek .kozep {
    /* leiras */
    margin: 10px 0;
    font-size: 1.2em;
}

/* kod cheked scrollbar */

#keszitok .card .tartalom .keszitonevek .kozep::-webkit-scrollbar {
    width: 15px;
}

#keszitok .card .tartalom .keszitonevek .kozep::-webkit-scrollbar-track {
    background: #58513e;
}

#keszitok .card .tartalom .keszitonevek .kozep::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #EDB419;
    border: 4px solid #58513e;
}

/* Elköszönés */
.elkoszones {
    text-align: center;
    font-size: 40px;
    color: #fff;
}

/* mobil */

@media (max-width: 560px) {
    #keszitok .card {
        width: calc(100% - 10px);
    }
}