* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* semmi */
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb{
    background-color: #272727;
    border: 5px solid rgba(0,0,0,0);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #58513e;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #3A86FF;
    border: 4px solid #58513e;
}


#cimek {
    padding-top: 80px;
    margin-bottom: -40px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 50px;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 20%);
}

#elsooldal img{
    position: absolute;
    top: 100%;
    left: 75%;
    transform: translate(-100%, -100%);
    z-index: 1;
}

.gombcont {
    position: relative;
    width: 500px;
    height: 150px;
    margin: 100px;
}

#gombcontainer {
    display: flex;
    justify-content: center;
}

#jobb {
    float: left;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.h11,
.h21,
.h31,
.h41,
.h51,
.h61 {
    margin: 20px;
    width: 430px;
    height: 90px;
    padding: 20px;
    padding-top: 35px;
    background-color: #3470CE;
    box-shadow: 7px 7px 2px #009;
    border-radius: 3px;
    position: absolute;
    z-index: 5;
    font-family: sans-serif;
}

.h11:hover,
.h21:hover,
.h31:hover,
.h41:hover,
.h51:hover,
.h61:hover {
    transition: background-color 200ms, box-shadow 200ms;
    background-color: #05e;
    box-shadow: 4px 4px 2px #006;
}

.h11:not(:hover),
.h21:not(:hover),
.h31:not(:hover),
.h41:not(:hover),
.h51:not(:hover),
.h61:not(:hover) {
    background-color: #3470CE;
    transition: 200ms;
}

.karika {
    margin-top: -40px;
    display: inline-block;
    padding: 18px;
    padding-bottom: 42px;
    height: 25px;
    background-color: #fff;
    color: #000;
    border-radius: 100px;
}

.h12,
.h22,
.h32,
.h42,
.h52,
.h62 {
    margin: 20px;
    width: 430px;
    height: 90px;
    padding: 20px;
    padding-top: 35px;
    background-color: #525252;
    box-shadow: inset 7px 7px 2px #333;
    border-radius: 3px;
    position: absolute;
    z-index: 4;
    font-family: monospace;
}

.h12:hover,
.h22:hover,
.h32:hover,
.h42:hover,
.h52:hover,
.h62:hover {
    background-color: #777;
    box-shadow: inset 5px 5px 2px #444;
    transition: background-color 200ms, box-shadow 200ms;
}

.h12:not(:hover),
.h22:not(:hover),
.h32:not(:hover),
.h42:not(:hover),
.h52:not(:hover),
.h62:not(:hover) {
    background-color: #525252;
    transition: background-color 200ms, box-shadow 200ms;
}

#radio1on,
#radio1off,
#radio2on,
#radio2off,
#radio3on,
#radio3off,
#radio4on,
#radio4off,
#radio5on,
#radio5off,
#radio6on,
#radio6off {
    display: none;
}

#radio1on:checked~.h11,
#radio2on:checked~.h21,
#radio3on:checked~.h31,
#radio4on:checked~.h41,
#radio5on:checked~.h51,
#radio6on:checked~.h61 {
    z-index: 4;
    visibility: hidden;
}

#elsooldal {
    height: 100vh;
    background: #3A86FF;
}

@media (max-width: 1200px) {
    h1 {
        text-align: left;
        font-size: 16px;
    }
    .h11,
    .h21,
    .h31,
    .h41,
    .h51,
    .h61 {
        margin: 0;
        width: 93%;
        height: 100px;
        padding: 20px;
        padding-top: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .h12,
    .h22,
    .h32,
    .h42,
    .h52,
    .h62 {
        margin: 0;
        width: 93%;
        height: 100px;
        padding: 20px;
        padding-top: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #jobb {
        float: none;
    }
    #gombcontainer {
        display: unset;
    }
    .gombcont {
        margin: 10px 0;
        width: 90%;
        position: relative;
    }
    #telomargin {
        margin-top: 80px;
    }
    #elsooldal {
        height: 180vh;
    }
    .karika {
        margin-top: -40px;
        display: inline-block;
        padding: 18px;
        padding-bottom: 38px;
        height: 25px;
    }
    #cimek {
        text-align: center;
    }
    #elsooldal img{
        position: absolute;
        top: 180%;
        left: 75%;
        transform: translate(-100%, -100%);
        z-index: 1;
    }
}

/* masodik oldal */

#masodikoldal {
    position: relative;
    height: 100vh;
    background: #FFBE0B;
    font-family: sans-serif;
}

#masodikoldal .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    letter-spacing: 2px;
    height: 10vh;
    color: #fff;
}

#masodikoldal .alja {
    padding: 10px;
    position: relative;
    height: 90vh;
}

#masodikoldal img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#masodikoldal .card {
    position: relative;
    background: #EDB419;
    width: 70%;
    height: 80vh;
    border-radius: 10px;
    z-index: 2;
}

#masodikoldal label{
    cursor: pointer;
}

#masodikoldal #gombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}


#masodikoldal .card .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}


#gombocska:checked~#masodikoldalleiras {
    visibility: hidden;
}

#gombocska:checked~#masodikoldalkod {
    visibility: visible;
}

#masodikoldal .card .tartalom #masodikoldalleiras {
    position: absolute;
    background: #EDB419;
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#masodikoldal .card .tartalom .leiras {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#masodikoldal .card .tartalom .leiras .fejlec,
#masodikoldal .card .tartalom .leiras .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#masodikoldal .card .tartalom .leiras .fejlec {
    border-bottom: 3px solid #fff;

}

#masodikoldal .card .tartalom .leiras .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#masodikoldal .card .tartalom .leiras .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
    /* text-align: justify; */
}


#masodikoldal .card .tartalom #masodikoldalkod {
    position: absolute;
    background: #58513e;
    border-radius: 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

#masodikoldal .card .tartalom .kod {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#masodikoldal .card .tartalom .kod .fejlec,
#masodikoldal .card .tartalom .kod .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#masodikoldal .card .tartalom .kod .fejlec {
    border-bottom: 3px solid #fff;

}

#masodikoldal .card .tartalom .kod .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#masodikoldal .card .tartalom .kod .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

@media (max-width: 560px) {
    #masodikoldal .card {
        width: calc(100% - 10px);
    }
}


/* Harmadik oldal */

#harmadikoldal {
    position: relative;
    height: 100vh;
    background: #FF006E;
    font-family: sans-serif;
}

#harmadikoldal .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    letter-spacing: 2px;
    height: 10vh;
    color: #272727;
}

#harmadikoldal .card {
    position: relative;
    background: #E8126E;
    width: 70%;
    height: 40vh;
    border-radius: 10px;
    z-index: 2;
}

#harmadikoldal #harmadikgombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}

#harmadikoldal .alja {
    padding: 10px;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

#harmadikoldal img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scaleX(-1);
    height: 500px;
}

#harmadikoldal .card .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}

#harmadikgombocska:checked~#harmadikoldalleiras {
    visibility: hidden;
}

#harmadikgombocska:checked~#harmadikoldalkod {
    visibility: visible;
}

#harmadikoldal .card .tartalom .leiras .fejlec,
#harmadikoldal .card .tartalom .leiras .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#harmadikoldal .card .tartalom #harmadikoldalkod .kod .fejlec,
#harmadikoldal .card .tartalom #harmadikoldalkod .kod .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#harmadikoldal .card .tartalom #harmadikoldalkod .kod .fejlec {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
    color: #fff;

}

#harmadikoldal .card .tartalom #harmadikoldalkod .kod .lablec{
    border-top: 3px solid #fff;
    justify-content: right;
    color: #fff;
}

#harmadikoldal .card .tartalom #harmadikoldalleiras {
    position: absolute;
    background: #E8126E;
    border-radius: 10px;
    border: 1px solid #272727;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#harmadikoldal .card .tartalom .leiras {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #272727;
}

#harmadikoldal .card .tartalom .leiras .fejlec {
    border-bottom: 3px solid #272727;

}

#harmadikoldal .card .tartalom .leiras .lablec {
    border-top: 3px solid #272727;
    justify-content: right;
}

#harmadikoldal .card .tartalom .leiras .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
    /* text-align: justify; */
}

#harmadikoldal .card .tartalom #harmadikoldalkod .kod .kozep {
    margin: 3px 0;
    font-size: 1.2em;
    overflow-y: auto;
    color: #fff;
    /* text-align: justify; */
}

#harmadikoldal .card .tartalom #harmadikoldalkod {
    position: absolute;
    background: #58513e;
    border-radius: 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

#harmadikoldal label{
    cursor: pointer;
}



/* negyedik oldal */

#negyedikoldal {
    position: relative;
    height: 100vh;
    background: #8338EC;
    font-family: sans-serif;
}

#negyedikoldal .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    letter-spacing: 2px;
    height: 10vh;
    color: #fff;
}

#negyedikoldal .alja {
    padding: 10px;
    position: relative;
    height: 90vh;
}

#negyedikoldal img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#negyedikoldal .card {
    position: relative;
    background: #6B25CE;
    width: 70%;
    height: 80vh;
    border-radius: 10px;
    z-index: 2;
}

#negyedikoldal label{
    cursor: pointer;
}

#negyedikoldal #gombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}


#negyedikoldal .card .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}


#gombocska:checked~#negyedikoldalleiras {
    visibility: hidden;
}

#gombocska:checked~#negyedikoldalkod {
    visibility: visible;
}

#negyedikoldal .card .tartalom #negyedikoldalleiras {
    position: absolute;
    background: #6B25CE;
    border-radius: 10px;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.4);
    border: 1px solid #272727;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#negyedikoldal .card .tartalom .leiras {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#negyedikoldal .card .tartalom .leiras .fejlec,
#negyedikoldal .card .tartalom .leiras .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#negyedikoldal .card .tartalom .leiras .fejlec {
    border-bottom: 3px solid #fff;

}

#negyedikoldal .card .tartalom .leiras .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#negyedikoldal .card .tartalom .leiras .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
    /* text-align: justify; */
}


#negyedikoldal .card .tartalom #negyedikoldalkod {
    position: absolute;
    background: #58513e;
    border-radius: 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
}

#negyedikoldal .card .tartalom .kod {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#negyedikoldal .card .tartalom .kod .fejlec,
#negyedikoldal .card .tartalom .kod .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#negyedikoldal .card .tartalom .kod .fejlec {
    border-bottom: 3px solid #fff;

}

#negyedikoldal .card .tartalom .kod .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#negyedikoldal .card .tartalom .kod .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
}

@media (max-width: 560px) {
    #negyedikoldal .card {
        width: calc(100% - 10px);
    }
}

/*Ötödik oldal*/

#otodikoldal {
    height: 100vh;
    background: #c50;
}

.gombjoker {
    position: relative;
    width: 70%;
    height: auto;
    margin-top: 100px;
    background-color: #000;
}

#radiojon, #radiojoff {
    display: none;
}

#j1 {
    margin: 10px;
    width: 90%;
    height: 400px;
    padding: 20px;
    background-color: #a30;
    box-shadow: 7px 7px 3px #620;
    border-radius: 3px;
    position: absolute;
    z-index: 5;
    font-family: sans-serif;
}

#j2 {
    margin: 10px;
    width: 90%;
    height: 400px;
    padding: 20px;
    background-color: #525252;
    box-shadow: inset 7px 7px 3px #333;
    border-radius: 3px;
    position: absolute;
    z-index: 4;
    font-family: monospace;
}

/* Hatodik oldal */

#hatodikoldal {
    position: relative;
    height: 100vh;
    background: #3A86FF;
    font-family: sans-serif;
}

#hatodikoldal .cim {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    text-shadow: 10px 10px 0 rgb(0, 0, 0, 0.25);
    letter-spacing: 2px;
    height: 10vh;
    color: #fff;
}

#hatodikoldal .card {
    position: relative;
    background: #3470CE;
    width: 70%;
    height: 40vh;
    border-radius: 10px;
    z-index: 2;
}

#hatodikoldal #hatodikgombocska {
    display: none;
    top: 0px;
    cursor: pointer;
    z-index: 4;
}

#hatodikoldal .alja {
    padding: 10px;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

#hatodikoldal img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scaleX(-1);
    height: 500px;
}

#hatodikoldal .card .tartalom {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-family: monospace;
}

#hatodikgombocska:checked~#hatodikoldalleiras {
    visibility: hidden;
}

#hatodikgombocska:checked~#hatodikoldalkod {
    visibility: visible;
}

#hatodikoldal .card .tartalom .leiras .fejlec,
#hatodikoldal .card .tartalom .leiras .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#hatodikoldal .card .tartalom #hatodikoldalkod .kod .fejlec,
#hatodikoldal .card .tartalom #hatodikoldalkod .kod .lablec {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

#hatodikoldal .card .tartalom #hatodikoldalkod .kod .fejlec {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
    color: #fff;

}

#hatodikoldal .card .tartalom #hatodikoldalkod .kozep {
    color: #fff;
}

#hatodikoldal .card .tartalom #hatodikoldalkod .kod .lablec{
    border-top: 3px solid #fff;
    justify-content: right;
    color: #fff;
}

#hatodikoldal .card .tartalom #hatodikoldalleiras {
    position: absolute;
    background: #3470CE;
    border-radius: 10px;
    border: 1px solid #272727;
    box-shadow: 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 3;
}

#hatodikoldal .card .tartalom .leiras {
    position: relative;
    display: grid;
    grid-template-rows: 45px calc(100% - 90px) 45px;
    height: 100%;
    color: #fff;
}

#hatodikoldal .card .tartalom .leiras .fejlec {
    border-bottom: 3px solid #fff;

}

#hatodikoldal .card .tartalom .leiras .lablec {
    border-top: 3px solid #fff;
    justify-content: right;
}

#hatodikoldal .card .tartalom .leiras .kozep {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: auto;
    /* text-align: justify; */
}

#hatodikoldal .card .tartalom #hatodikoldal .kod .kozep {
    margin: 3px 0;
    font-size: 1.2em;
    overflow-y: auto;
    color: #fff;
    /* text-align: justify; */
}

#hatodikoldal .card .tartalom #hatodikoldalkod {
    position: absolute;
    background: #58513e;
    border-radius: 10px;
    box-shadow: inset 10px 10px 0 rgb(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
    color: #fff;
}

#hatodikoldal label{
    cursor: pointer;
}